* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #0d253f;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  margin: 10% 0;
  font-size: 1.9vw;
}
h3 {
  margin: 3% 0;
}
header {
  margin: 20px 0;
}
.main {
  height: 80vh;
  width: 60vw;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 15% 85%;
  grid-template-areas:
    "searchbar details"
    "list details";
  border: #01b4e4 solid 3px;
  box-shadow: 10px 10px 15px 3px #0d253f;
}
.search-bar {
  grid-area: searchbar;
  display: flex;
  align-items: center;
  background-color: #01b4e4;
  margin-left: -3px;
}
.search-bar input {
  height: 50%;
  width: 100%;
  font-size: large;
  padding: 2% 45px;
  border-radius: 30px;
  border: 1px solid #0d253f;
}
.search-bar input::placeholder {
  font-style: italic;
  color: rgb(197, 194, 194);
}
.search-bar input:focus {
  outline-style: double;
}
.search-bar img {
  position: relative;
  max-height: 35%;
}
#glass {
  max-width: 22px;
  left: 35px;
}
#clear {
  max-width: 17px;
  right: 30px;
  cursor: pointer;
}
.list {
  grid-area: list;
  overflow-y: scroll;
}
.list span {
  font-style: italic;
}
.list ul {
  list-style: none;
  margin: 2%;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.list li {
  margin: 1%;
  padding: 2% 5%;
  border-left: 1px solid #acf3bf;
  border-bottom: 1px solid #acf3bf;
  border-radius: 30px;
}
.list li:hover {
  background-color: #90cea1;
  color: white;
  cursor: pointer;
}
.details {
  grid-area: details;
  overflow: auto;
  padding: 5%;
}
.details img {
  max-width: 95%;
}
.top {
  display: grid;
  grid-template-columns: 45% 55%;
}
.top-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-left img {
  box-shadow: 0px 0px 20px #0d253f;
}
.top-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-right p {
  margin-top: 10%;
}
#stars {
  font-size: 2vw;
  margin: 0 5%;
  color: #01b4e4;
  text-shadow: 1px 1px 1px #0d253f, 1px 0px 1px #0d253f, 1px 0px 1px #0d253f;
}
hr {
  margin: 7% 10% 5%;
  background-color: #0d253f;
}
.bottom p {
  text-align: justify;
  margin-top: 3%;
}
@media (max-width: 640px) {
  header {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }
  header h3 {
    font-size: 1.1em;
  }
  header img {
    width: 35%;
  }
  .main {
    width: auto;
    height: 90vh;
    display: grid;
    grid-template-rows: 10% 40% 50%;
    grid-template-columns: none;
    grid-template-areas: "searchbar" "list" "details";
    border: none;
  }
  .search-bar {
    margin-left: 0;
    min-height: 60px;
    z-index: 1;
  }
  h2,
  #stars {
    font-size: 1.2em;
  }
  h2 {
    margin: 5% 0;
  }
}
