* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
h2 {
  margin-top: 3%;
}
.main {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}
.search-bar {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar input {
  font-size: large;
}
.list {
  min-width: 30vw;
  border: red solid 3px;
  height: 80%;
  overflow-y: scroll
}
.list ul {
  list-style: none;
  margin: 5%;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.list li {
  margin: 1%;
  padding: 2%;
  background-color: lightgoldenrodyellow;
}
.list li:hover {
  background-color: rgb(248, 248, 176)
}
.details {
  max-width: 60vw;
  border: blue solid 3px;
}